@import '../../../utils/settings';

.landing-page__extensions {
  &-info {
    max-width: 550px;
    margin: 0px auto 0 auto;
    padding-left: 16px;

    @media only screen and (max-width: 780px) {
      width: 350px !important;
      padding: 0 !important;
    }

    @media only screen and (max-width: 400px) {
      width: 240px !important;
      padding: 0 !important;
    }

    h1,
    p {
      text-align: center;
    }

    h1 {
      margin: 300px 0 23px !important;

      @media only screen and (max-width: 400px) {
        margin: 132px 0 10px !important;
      }
    }

    p {
      @media only screen and (max-width: 780px) {
        margin-bottom: -20px;
      }
    }
  }

  &-cards {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 33px 0 120px 0;

    @media only screen and (max-width: 920px) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: 400px) {
      padding: 0 !important;
      margin-bottom: 0 !important;
    }

    > :nth-child(2) {
      position: relative;
      top: 40px;

      @media only screen and (max-width: 920px) {
        top: 0;
      }
    }

    > :nth-child(3) {
      position: relative;
      top: 80px;

      @media only screen and (max-width: 920px) {
        top: 0;
      }
    }
  }
}
