@import '../../../utils/settings';

.landing-page__faq {
  max-width: 540px;
  margin: 218px auto 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;

  @media only screen and (max-width: 600px) {
    margin-top: 94px;
  }

  &-info {
    text-align: center;
    max-width: 520px;
    padding-left: 20px;

    @media only screen and (max-width: 780px) {
      max-width: 440px;
      margin: 0 auto;
      padding: 0 !important;
    }

    @media only screen and (max-width: 600px) {
      max-width: 350px;
      margin: 0 auto;
      padding: 0 !important;
    }

    @media only screen and (max-width: 400px) {
      width: 261px;
      margin: 0 auto;
      padding: 0 !important;
    }

    h1 {
      margin-bottom: 22px;

      @media only screen and (max-width: 400px) {
        margin-bottom: 17px;
      }
    }

    p {
      font-size: 18px;
    }
  }

  &-button {
    height: 48px;
    width: 114px;
    background-color: $primary-blue;
    color: white;
    border: none;
    margin: 38px 0 129px calc(50% - 49px);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;

    @media only screen and (max-width: 780px) {
      width: 100px;
      margin: 42px 0 149px calc(50% - 47px);
      font-size: 12px;
      height: 41px;
    }

    @media only screen and (max-width: 400px) {
      margin: 31px 0 87px calc(50% - 47px);
    }
  }

  &-button:hover {
    border: 2px solid $primary-blue;
    color: $primary-blue;
    background-color: white;
  }
}
