@import '../../../utils/settings';

.info {
  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    color: $dark-blue;

    @media only screen and (max-width: 780px) {
      font-size: 24px;
    }

    @media only screen and (max-width: 400px) {
      font-size: 20px;
    }
  }

  p {
    color: $gray;
    line-height: 28px;

    @media only screen and (max-width: 900px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 830px) {
      font-size: 14px !important;
    }

    @media only screen and (max-width: 400px) {
      font-size: 12px !important;
      line-height: 22px;
    }
  }
}
