@import '../../../utils/settings';

.landing-page__extensions {
  &-info {
    max-width: 550px;
    margin: 0px auto 0 auto;
    padding-left: 16px;

    @media only screen and (max-width: 780px) {
      width: 350px !important;
      padding: 0 !important;
    }

    @media only screen and (max-width: 400px) {
      width: 240px !important;
      padding: 0 !important;
    }

    h1,
    p {
      text-align: center;
    }

    h1 {
      margin: 300px 0 23px !important;
      font-size: 32px;
      font-weight: 500;
      color: $dark-blue;

      @media only screen and (max-width: 780px) {
        font-size: 24px;
      }

      @media only screen and (max-width: 400px) {
        font-size: 20px;
        margin: 132px 0 10px !important;
      }
    }

    p {
      color: $gray;
      line-height: 28px;

      @media only screen and (max-width: 780px) {
        margin-bottom: -20px;
      }

      @media only screen and (max-width: 900px) {
        font-size: 16px;
      }

      @media only screen and (max-width: 830px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 400px) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }

  &-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
