@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.landing-page__features-choices {
  position: relative;
}
.landing-page__features-choices-photo {
  position: absolute;
  left: calc(50vw - 551px);
  top: -63px;
}
.landing-page__features-choices-photo::before {
  position: absolute;
  content: "";
  height: 352px;
  width: 644px;
  left: -169px;
  background-color: hsl(231, 69%, 60%);
  top: 82px;
  border-radius: 0 0 175px 0;
  z-index: -1;
}
@media only screen and (min-width: 1440px) {
  .landing-page__features-choices-photo::before {
    left: calc(-169px + (100vw - 1440px) * -0.5);
    width: calc(639px + (100vw - 1440px) * 0.5);
  }
}
@media only screen and (max-width: 780px) {
  .landing-page__features-choices-photo::before {
    top: 56px;
    left: -30px;
    width: 76vw;
    height: 54vw;
  }
}
@media only screen and (max-width: 450px) {
  .landing-page__features-choices-photo::before {
    top: 46px;
    left: -30px;
    width: 84vw;
    height: 52vw;
    border-radius: 0 0 111px 0;
  }
}
.landing-page__features-choices-info {
  max-width: 440px;
  margin: 135px 0 0 calc(57vw + 8px);
  font-size: 16px;
}
.landing-page__features-choices-info h1 {
  margin-bottom: 22px;
  color: hsl(229, 31%, 21%);
}
.landing-page__features-choices-info p {
  font-size: 18px;
  line-height: 28px;
  color: hsl(229, 8%, 60%);
}
.landing-page__features-choices-info button {
  height: 48px;
  width: 114px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}
.landing-page__features-choices-info button:hover {
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  background-color: white;
}

.landing-page__features-choices--second-card .landing-page__features-choices-photo,
.landing-page__features-choices--third-card .landing-page__features-choices-photo {
  left: calc(50vw - 477px) !important;
}
.landing-page__features-choices--second-card .landing-page__features-choices-photo::before,
.landing-page__features-choices--third-card .landing-page__features-choices-photo::before {
  left: -242px !important;
}
@media only screen and (min-width: 1440px) {
  .landing-page__features-choices--second-card .landing-page__features-choices-photo::before,
  .landing-page__features-choices--third-card .landing-page__features-choices-photo::before {
    left: calc(-242px + (100vw - 1440px) * -0.5) !important;
  }
}
.landing-page__features-choices--second-card .landing-page__features-choices-photo::after,
.landing-page__features-choices--third-card .landing-page__features-choices-photo::after {
  right: 75px;
  position: absolute;
  content: "";
  height: 100px;
  width: 60px;
  background-color: white;
  z-index: -1;
  top: 80px;
}
@media only screen and (min-width: 1440px) {
  .landing-page__features-choices--second-card .landing-page__features-choices-photo::after,
  .landing-page__features-choices--third-card .landing-page__features-choices-photo::after {
    right: 80px;
    width: 80px;
  }
}

.landing-page__features-choices--third-card .landing-page__features-choices-photo::after {
  right: 33px !important;
  width: 90px !important;
}

/*# sourceMappingURL=FeatureChoices.css.map */
