@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');
$gray: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin margin-x($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin margin-r($value) {
  margin-right: $value;
}

@mixin margin-t($value) {
  margin-top: $value;
}

@mixin margin-b($value) {
  margin-bottom: $value;
}

@mixin margin-l($value) {
  margin-left: $value;
}

@for $i from 1 through 100 {
  .px-#{$i} {
    @include padding-x($i * 1px);
  }

  .mt-#{$i} {
    @include margin-t($i * 1px);
  }

  .ml-#{$i} {
    @include margin-l($i * 1px);
  }

  .mr-#{$i} {
    @include margin-r($i * 1px);
  }

  .mb-#{$i} {
    @include margin-b($i * 1px);
  }

  .mx-#{$i} {
    @include margin-x($i * 1px);
  }
}
