@import '../../../utils/settings';

.landing-page__features {
  &-info {
    max-width: 550px;
    margin: 0 auto 0 auto;
    padding-left: 16px;

    @media only screen and (max-width: 780px) {
      width: 350px !important;
      padding: 0 !important;
    }

    @media only screen and (max-width: 400px) {
      width: 240px !important;
      padding: 0 !important;
    }

    h1 {
      margin: 210px 0 23px !important;

      @media only screen and (max-width: 400px) {
        margin: 200px 0 10px !important;
      }
    }

    p {
      @media only screen and (max-width: 780px) {
        margin-bottom: -20px;
      }
    }
  }

  &-choices {
    &--no-active {
      display: none;
    }

    &--active {
      display: block;
    }

    &-list {
      margin-top: 52px;
      padding-right: 25px;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      @media only screen and (max-width: 780px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 9px;
      }

      &-element {
        list-style: none;
        width: 243px;
        text-align: center;
        border-bottom: 1px solid #e0e0ea;
        font-size: 17px;
        padding-top: 2px;
        padding-bottom: 9px;

        @media only screen and (max-width: 780px) {
          width: 80vw;
          font-size: 14px;
        }

        &:first-child {
          @media only screen and (max-width: 780px) {
            border-top: 1px solid #e0e0ea;
          }
        }

        p {
          @media only screen and (max-width: 780px) {
            margin-bottom: 7px;
          }
        }
      }

      &-element:hover {
        color: $primary-red;
        cursor: pointer;
      }

      &-element--clicked {
        color: black;
        border-bottom: 5px solid $primary-red;

        @media only screen and (max-width: 780px) {
          border-bottom: 1px solid #e0e0ea;
          position: relative;
        }
      }

      &-element--clicked::before {
        @media only screen and (max-width: 780px) {
          content: '';
          height: 3px;
          width: 124px;
          position: absolute;
          bottom: -1px;
          left: calc(40vw - 62px);
          background-color: $primary-red;
        }

        @media only screen and (max-width: 330px) and (min-width: 320px) {
          left: calc(50vw - 97px);
        }
      }

      &-element--no-clicked {
        color: $gray;
      }
    }
  }
}
