@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');
$gray: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
